<template id="ClassicalElementsGeneratorTemplate">
    <style>
        dt, dd {
            float: left;
            width: 50%;
            margin: 0;
        }
    </style>

    <form id="stateVectorForm" name="stateVectors">
        <div id="radius">
            R:
            <input type="number" name="position_i" value="0">I +
            <input type="number" name="position_j" value="0">J +
            <input type="number" name="position_k" value="0">K
        </div>
        <div id="velocity">
            V:
            <input type="number" name="velocity_i" value="0">I +
            <input type="number" name="velocity_j" value="0">J +
            <input type="number" name="velocity_k" value="0">K
        </div>
    </form>
    <br>

    <div id="elements"></div>
</template>

<script>
    const classicalElementsGeneratorDoc = document.currentScript.ownerDocument;

    /*
     position: [8228, 389, 6888],
     velocity: [-0.7, 6.6, -0.6]
     */

    class ClassicalElementsGenerator extends HTMLElement {
        orbit = new Module.Orbit();
        elementsElem;
        fields = [];

        stateVectors = {
            position: [0, 0, 0],
            velocity: [0, 0, 0]
        };

        dimensionMap = {
            i: 0,
            j: 1,
            k: 2
        };

        constructor() {
            super();

            this.handleInput = this.handleInput.bind(this);
            this.regenerate = this.regenerate.bind(this);
        }

        connectedCallback() {
            const shadowRoot = this.attachShadow({mode:'open'});

            // Adds a template clone into shadow root.
            shadowRoot.appendChild(document.importNode(classicalElementsGeneratorDoc.getElementById('ClassicalElementsGeneratorTemplate').content, true));
            this.elementsElem = shadowRoot.getElementById('elements');

            this.regenerate();

            shadowRoot.querySelectorAll('input').forEach(input => {
                input.addEventListener('input', this.handleInput);
                this.fields.push(input);
            });
        }

        handleInput(event) {
            const { name, value } = event.target;
            const [state, dimension] = name.split('_');

            this.stateVectors[state][this.dimensionMap[dimension]] = Number(value);

            this.regenerate();
        }

        populateFields() {
            this.fields.forEach(input => {
                const [state, dimension] = input.name.split('_');

                input.value = this.stateVectors[state][this.dimensionMap[dimension]];
            })
        }

        updateWithStateVectors(stateVectors) {
            this.stateVectors = stateVectors;

            this.populateFields();
            this.regenerate();
        }

        getDisplayValues(elements) {
            return {
                a: (fixRoundingError(elements.a) || 0) + ' km',
                e: fixRoundingError(magnitude(elements.e)) || 0,
                i: (fixRoundingError(elements.i * 180/Math.PI) || 0) + ' degrees',
                Om: fixRoundingError(elements.i) === 0 ? 'N/A' : (fixRoundingError(elements.Om * 180/Math.PI) || 0) + ' degrees',
                o: fixRoundingError(magnitude(elements.e)) === 0 ? 'N/A' : (fixRoundingError(elements.o * 180/Math.PI) || 0) + ' degrees',
                nu: fixRoundingError(magnitude(elements.e)) === 0 ? 'N/A' : (fixRoundingError(elements.nu * 180/Math.PI) || 0) + ' degrees',
                u: fixRoundingError(elements.i) === 0 ? 'N/A' : (fixRoundingError(elements.u * 180/Math.PI) || 0) + ' degrees',
                Pi: (magnitude(elements.e)) === 0 ? 'N/A' : (fixRoundingError(elements.Pi * 180/Math.PI) || 0) + ' degrees',
                l: (fixRoundingError(elements.l * 180/Math.PI) || 0) + ' degrees'
            };
        }

        regenerate() {
            var elements = this.getDisplayValues(this.orbit.generateClassicalElements(this.stateVectors));

            this.elementsElem.innerHTML = `
                <dl>
                    <dt>Semimajor Axis (a):</dt>
                    <dd>${elements.a}</dd>

                    <dt>Eccentricity (e):</dt>
                    <dd>${elements.e}</dd>

                    <dt>Inclination (i):</dt>
                    <dd>${elements.i}</dd>

                    <dt>Right Ascension (Ω):</dt>
                    <dd>${elements.Om}</dd>

                    <dt>Argument of Perigee (o):</dt>
                    <dd>${elements.o}</dd>

                    <dt>True Anomaly (nu):</dt>
                    <dd>${elements.nu}</dd>

                    <dt>Argument of Latitude (u):</dt>
                    <dd>${elements.u}</dd>

                    <dt>Longitude of Perigee (∏):</dt>
                    <dd>${elements.Pi}</dd>

                    <dt>True Longitude (l):</dt>
                    <dd>${elements.l}</dd>
                </dl>
            `;
        }
    }

    window.customElements.define('classical-elements-generator', ClassicalElementsGenerator);
</script>